@import './variables.scss';

.adminWrapper {
  @extend %robot-card-wrapper;

  .buttonPrimary {
    @extend %button-primary;
    width: 100%;
  }

  .buttonSecondary {
    @extend %button-secondary;
    width: 100%;
  }

  .buttonContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .addRobotForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    gap: 24px;

    .textInput {
      display: flex;
      flex-direction: column;
      color: $gray2;
      margin: 12px 0 58px;

      label {
        background-color: $white;
        font-size: 18px;
        margin: -78px 0 0 23px;
        width: max-content;
        padding: 0 4px;
      }

      input {
        background: $white;
        border: 1px solid $gray1;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 27px;
      }

      input:focus {
        outline: none;
        border: 1px solid $gray3;
        box-shadow: $focus-shadow;
      }
    }

    .textInput:focus-within {
      color: $gray3;
    }

    .imageUpload {
      border-radius: 8px;

      .robotImagePreview {
        height: 208px;
        width: 349px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: auto;
        }
      }

      .hidden {
        display: none;
      }

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $gray3;
        cursor: pointer;
        width: 349px;
        height: 204px;
        background: #eceef0;
        border: 2px dashed $gray2;
        box-sizing: border-box;
        border-radius: 8px;
      }

      label:hover {
        background-color: #f8f8f8;
      }

      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }

    .imageUpload:focus-within {
      box-shadow: $focus-shadow;
    }

    .imageButtonContainer {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;

      .clearButton {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        color: $gray3;
        font-size: 20px;
        padding: 4px 8px;
        border-radius: 8px;
        cursor: pointer;
        height: min-content;
        margin: 0 24px;
      }

      .clearButton:hover {
        color: $gray2;
      }

      .clearButton:focus {
        outline: none;
        box-shadow: $focus-shadow;
      }
    }
  }

  .title {
    @extend %robot-card-title;
  }

  .robotCardContainer {
    @extend %robot-card-container;

    .robotCard {
      @extend %robot-card;

      h2 {
        @extend %robot-card-h2;
      }

      .imageContainer {
        @extend %robot-card-image-container;

        img {
          @extend %robot-card-img;
        }
      }
    }
  }
}

.addedRobotConfirmation {
  animation: fade ease-in-out 3.1s;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;

  div {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    padding: 20px 20px;
    border-radius: 14px;
    background-color: $gray1;
    color: $gray3;
    white-space: nowrap;

    svg {
      height: 36px;
      width: 36px;
      margin-left: 12px;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: $media-breakpoint-1) {
  .adminWrapper {
    max-width: 825px;
  }
}

@media only screen and (max-width: $media-breakpoint-2) {
  .adminWrapper {
    max-width: 400px;
  }
}

@media only screen and (max-width: $media-breakpoint-3) {
  .adminWrapper {
    padding: 0;

    .title {
      margin-left: 32px;
    }

    .robotCardContainer {
      padding: 0 8px;
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));

      .robotCard {
        width: 100%;

        .imageContainer {
          width: 100%;
          height: auto;
        }

        .addRobotForm {
          .imageUpload {
            .robotImagePreview {
              width: 100%;
            }

            label {
              width: 100%;
            }
          }

          .imageButtonContainer {
            gap: 0px;

            .buttonPrimary {
              padding-left: 8px;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}
