@import './variables.scss';

.adminWrapper {
  @extend %robot-card-wrapper;

  .buttonPrimary {
    @extend %button-primary;
    width: 100%;
  }

  .buttonSecondary {
    @extend %button-secondary;
    width: 100%;
  }

  .buttonContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .addRobotForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    gap: 24px;

    .textInput {
      @extend %text-input;
    }

    file-attachment {
      background-color: #eceef0;
      border-radius: 8px;
    }

    file-attachment[hover] {
      background-color: #f8f8f8;
    }

    .imageUpload {
      border-radius: 8px;

      .robotImagePreview {
        height: 208px;
        width: 349px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: $white;

        img {
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: auto;
        }
      }

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $gray3;
        cursor: pointer;
        width: 349px;
        height: 204px;
        background: inherit;
        border: 2px dashed $gray2;
        box-sizing: border-box;
        border-radius: 8px;
      }

      input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }

    .imageUpload:focus-within {
      box-shadow: $focus-shadow;
    }

    .imageButtonContainer {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;

      .clearButton {
        border: none;
        background-color: transparent;
        text-decoration: underline;
        color: $gray3;
        font-size: 20px;
        padding: 4px 8px;
        border-radius: 8px;
        cursor: pointer;
        height: min-content;
        margin: 0 24px;
      }

      .clearButton:hover {
        color: $gray2;
      }

      .clearButton:focus {
        outline: none;
        box-shadow: $focus-shadow;
      }

      .buttonPrimary {
        padding: 12px 32px;
        height: 53px;
        display: flex;
        align-items: center;

        svg {
          fill: $white;
          height: 25px;
          width: 25px;
        }
      }
    }
    .ring {
      margin-top: -5px;
      width: 26px;
      height: 26px;

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 23px;
        height: 23px;
        margin: 3px;
        border: 3px solid $white;
        border-radius: 50%;
        animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $white transparent transparent transparent;
      }

      div:nth-child(1) {
        animation-delay: -0.45s;
      }

      div:nth-child(2) {
        animation-delay: -0.3s;
      }

      div:nth-child(3) {
        animation-delay: -0.15s;
      }
    }

    @keyframes ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .title {
    @extend %robot-card-title;
  }

  .robotCardContainer {
    @extend %robot-card-container;

    .robotCard {
      @extend %robot-card;

      h2 {
        @extend %robot-card-h2;
      }

      .imageContainer {
        @extend %robot-card-image-container;

        img {
          @extend %robot-card-img;
        }
      }
    }
  }
}

@media only screen and (max-width: $media-breakpoint-1) {
  .adminWrapper {
    max-width: 825px;
  }
}

@media only screen and (max-width: $media-breakpoint-2) {
  .adminWrapper {
    max-width: 400px;
  }
}

@media only screen and (max-width: $media-breakpoint-3) {
  .adminWrapper {
    padding: 0;

    .title {
      margin-left: 32px;
    }

    .robotCardContainer {
      padding: 0 8px;
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));

      .robotCard {
        width: 100%;

        .imageContainer {
          width: 100%;
          height: auto;
          max-height: 349px;
        }

        .addRobotForm {
          .imageUpload {
            .robotImagePreview {
              width: 100%;
            }

            label {
              width: 100%;
            }
          }

          .imageButtonContainer {
            gap: 0px;

            .buttonPrimary {
              padding-left: 8px;
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}
