@import './variables.scss';

.button-primary {
  @extend %button-primary;
  width: 100%;
}

.button-secondary {
  @extend %button-secondary;
  width: 100%;
}

.button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.title {
  @extend %robot-card-title;
}

.admin-wrapper {
  @extend %robot-card-wrapper;

  .robot-card-container {
    @extend %robot-card-container;

    .robot-card {
      @extend %robot-card;

      h2 {
        @extend %robot-card-h2;
      }

      .image-container {
        @extend %robot-card-image-container;

        img {
          @extend %robot-card-img;
        }
      }
    }
  }
}

@media only screen and (max-width: $media-breakpoint-1) {
  .wrapper {
    max-width: 825px;
  }
}

@media only screen and (max-width: $media-breakpoint-2) {
  .wrapper {
    max-width: 400px;
  }
}

@media only screen and (max-width: $media-breakpoint-3) {
  .wrapper {
    padding: 0;
  }

  .title {
    margin-left: 32px;
  }

  .robot-card-container {
    padding: 0 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  }
}
