@import './variables.scss';

.container {
  display: grid;
  place-items: center;
  height: 100%;
  min-height: 100vh;
  padding: 0 24px;

  .loginCard {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: 1px solid $gray1;
    box-shadow: 0px 9px 15px -9px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 80px 54px;
    width: 100%;
    max-width: 500px;

    img {
      max-width: 233px;
      height: auto;
      margin: 0 0 84px;
      align-self: center;
    }

    .inputContainer {
      height: 77px;
      margin-bottom: 40px;
      display: block;
      padding: 2px 0 0;
    }

    .textInput {
      @extend %text-input;
    }

    .buttonPrimary {
      @extend %button-primary;
      width: 100%;
      margin-bottom: 16px;
    }

    .buttonSecondary {
      @extend %button-secondary;
      margin-bottom: 16px;
    }

    .errorMessage {
      width: auto;
      border-radius: 8px;
      padding: 14px 32px;
      background-color: $error-bg;
      color: $error-text;
      margin: -20px 0 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    background-color: $white;

    .loginCard {
      padding: 74px 0;
      box-shadow: none;
      border: none;

      img {
        width: 165px;
      }
    }
  }
}
