@import './variables.scss';

.title {
  @extend %robot-card-title;
}

.robots-wrapper {
  @extend %robot-card-wrapper;

  .robot-card-container {
    @extend %robot-card-container;

    .robot-card {
      @extend %robot-card;

      h2 {
        @extend %robot-card-h2;
      }

      .image-container {
        @extend %robot-card-image-container;

        img {
          @extend %robot-card-img;
        }
      }
    }
  }
  .button-primary {
    @extend %button-primary;
    width: 150px;
  }
}

@media only screen and (max-width: $media-breakpoint-1) {
  .robots-wrapper {
    max-width: 825px;
  }
}

@media only screen and (max-width: $media-breakpoint-2) {
  .robots-wrapper {
    max-width: 400px;
  }
}

@media only screen and (max-width: $media-breakpoint-3) {
  .robots-wrapper {
    padding: 0;

    .title {
      margin-left: 32px;
    }

    .robot-card-container {
      padding: 0 8px;
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));

      .robot-card {
        width: 100%;

        .image-container {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
