@import './variables.scss';

.robotsWrapper {
  @extend %robot-card-wrapper;

  .title {
    @extend %robot-card-title;
  }

  .robotCardContainer {
    @extend %robot-card-container;

    .robotCard {
      @extend %robot-card;

      h2 {
        @extend %robot-card-h2;
      }

      .imageContainer {
        @extend %robot-card-image-container;

        img {
          @extend %robot-card-img;
        }
      }
    }
  }
  .buttonPrimary {
    @extend %button-primary;
    width: 150px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: $media-breakpoint-1) {
  .robotsWrapper {
    max-width: 825px;
  }
}

@media only screen and (max-width: $media-breakpoint-2) {
  .robotsWrapper {
    max-width: 400px;
  }
}

@media only screen and (max-width: $media-breakpoint-3) {
  .robotsWrapper {
    padding: 0;

    .title {
      margin-left: 32px;
    }

    .robotCardContainer {
      padding: 0 8px;
      grid-template-columns: repeat(auto-fit, minmax(200px, max-content));

      .robotCard {
        width: 100%;

        .imageContainer {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
