// Colors
$white: #ffffff;
$gray0: #f4f6f8;
$gray1: #d8dadb;
$gray2: #737475;
$gray3: #414242;
$error-text: #991b1b;
$error-bg: #fef2f2;

// Shadows
$focus-shadow: rgba(65, 66, 66, 0) 0px 0px 0px 1px, rgba(59, 130, 246, 0.5) 0px 0px 0px 2px;
// $focus-shadow: rgba(255, 255, 255, 1) 0px 0px 0px 2px, $gray3 0px 0px 0px 3px;
$card-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.12);

%button-primary {
  background-color: $gray3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  border-radius: 8px;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid $gray3;
  cursor: pointer;
}

%button-primary:hover {
  background-color: $gray2;
  border: 2px solid $gray2;
}

%button-primary:focus {
  outline: none;
  box-shadow: $focus-shadow;
}

%button-primary[disabled] {
  background-color: $gray1;
  color: $gray2;
  border-color: $gray1;
  cursor: not-allowed;
}

%button-secondary {
  @extend %button-primary;
  background-color: $white;
  color: $gray3;
  border: 2px solid $gray3;
}

%button-secondary:hover {
  background-color: $gray0;
}

%text-input {
  display: flex;
  flex-direction: column;
  color: $gray2;

  label {
    background-color: $white;
    font-size: 18px;
    margin: 0 0 -6px 23px;
    z-index: 1;
    width: max-content;
    padding: 0 4px;
  }

  input {
    background: $white;
    border: 1px solid $gray1;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 27px;
    // z-index: 0;
  }

  input:focus {
    outline: none;
    border: 1px solid $gray3;
    box-shadow: $focus-shadow;
  }
}

%text-input:focus-within {
  color: $gray3;
}

// Robots + Results + Admin base styles
%robot-card-title {
  margin: 64px 0;
  color: $gray3;
  font-size: 60px;
  font-weight: 700;
}

%robot-card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin: 80px auto;
  justify-content: center;
  max-width: 1250px;
}

%robot-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  justify-items: center;
  max-width: 1248px;
  column-gap: 24px;
  row-gap: 45px;
  max-width: 1248px;
  justify-content: center;
}

%robot-card {
  background-color: $white;
  border: 1px solid $gray1;
  box-sizing: border-box;
  box-shadow: $card-shadow;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 24px;
}

%robot-card-h2 {
  color: $gray3;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
  margin: 0 0 20px;
}

%robot-card-image-container {
  height: 321px;
  width: 349px;
  // max-height: 321px;
  // max-width: 349px;
  // min-height: 321px;
  // min-width: 349px;
  margin-bottom: 36px;
}
%robot-card-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

// Media Query Variables
$media-breakpoint-1: 1327px;
$media-breakpoint-2: 903px;
$media-breakpoint-3: 420px;
